/* =========================== Conteudo (MANTIDO DO PRIMEIRO CÓDIGO) =========================== */

main {
    flex-grow: 1;
    background-color: #fef7e3;
    width: 100%;
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-top: 1px;
}

/* Banner */
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fef7e3;
    color: #B07C85;
    padding: 40px;
    margin-top: 50px;
    width: 100%;
    max-width: 1300px;
    box-sizing: border-box;
}
.banner-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1;
    padding-right: 20px;
}

.banner-conteudo h1 {
    font-size: 50px;
    color: #210c29;
    margin: 0;
}
.banner-conteudo h3 {
    color: #210c29;
    margin: 0;
}

.botoes {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.btn-adote,
.btn-sobrenos {
    display: inline-block;
    text-decoration: none;
    width: 150px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s;
}

.btn-adote {
    background-color: #210c29;
    color: #feecd3;
}

.btn-sobrenos {
    background-color: #f9cb9c;
    color: #210c29;
}

.btn-sobrenos:hover {
    background-color: #feecd3;
    color: #210c29;
    transform: scale(1.05);
}

.btn-adote:hover {
    background-color: #210c29;
    color: #feecd3;
    transform: scale(1.05);
}

/* Slider (Imagem do Banner) */
.slider {
    width: 100%;
    max-width: 400px;
    height: 400px;
    position: relative;
    margin-top: 0;
    flex-shrink: 0;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    border-radius: 10px;
    border: 2px solid #8A3C52;
}

.slider img.active {
    opacity: 1;
}

.linha {
    border-bottom: 2px solid #210c29;
    width: 100%;
    background-color: transparent;
}

/* Seção Animais */
.bg-animais {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 50px;
    width: 100%;
}

.h1animal {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #210c29;
    margin-bottom: 30px;
}
.pesquisa-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 20px;
}

.pesquisa-container {
    display: flex;
    align-items: center;
    background-color: #f9cb9c;
    border-radius: 50px;
    padding: 6px 12px;
    width: 100%;
    max-width: 700px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

#campo-pesquisa {
    flex: 1;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #ffe8c8;
    color: #210c29;
    min-width: 0;
}

#btn-pesquisa {
    padding: 12px 16px;
    background-color: transparent;
    color: #8A3C52;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}
#btn-pesquisa:hover {
    transform: scale(1.05);
    background-color: #8A3C52;
    color: #f9cb9c;
}

/* Grade de Animais */
.animais {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0 10px 0px 10px;
}

.animal {
    background-color: #fff;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    max-width: 90%;
    border: 2px solid #210c29;
}

/* Imagem e Hover (Desktop) */
.ftcachorro {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: height 0.3s ease;
    border-radius: 10px 10px 0 0;
    border: 0 0 0 2px solid #3f153d;
    border-bottom: 2px solid #3f153d;
}

.escritas {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
    text-align: center;
    position: absolute;
    top: 185px;
    width: 100%;
    color: #3f153d;
    font-weight: bold;
    border:#3f153d;
}

.escritas h1 {
    color: #3f153d;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

/* Botões dentro do card do animal */
.botoes-animal {
    display: none;
    justify-content: center;
    gap: 6px;
    margin-top: 10px;
}

/* Hover Effects (Desktop) */
.animal:hover .ftcachorro {
    height: 150px;
}

.animal:hover .botoes-animal {
    display: flex;
}

.animal:hover .escritas {
    top: 155px;
}

/* Estilo dos Botões */
.animal .botaoadotar,
.animal .btn-saibamais { 
    text-transform: uppercase;
    width: 120px;
    padding: 10px 0;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
}

.botaoadotar,
.btn-adote {
    background-color: #210c29;
    color: #fff;
}

.botaoadotar:hover,
.btn-adote:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #210c29;
}

.btn-saibamais {
    background-color: #fff;
    color: #210c29;
}

.btn-saibamais:hover {
    transform: scale(1.05);
    background-color: #210c29;
    color: #fff;
}

.principal {
    text-align: center;
    margin-bottom: 50px;
}

/* =========================== RESPONSIVO CONTEUDO (Tablet/Telão Pequeno) (MANTIDO) =========================== */

@media (max-width: 1024px) {

    .banner {
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
        margin-top: 150px;
        text-align: center;
    }

    .banner-conteudo {
        align-items: center;
        width: 100%;
        padding: 0;
    }

    .banner-conteudo h1 {
        font-size: 36px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .banner-conteudo h3 {
        font-size: 18px;
        text-align: center;
        padding: 0 20px;
    }

    .slider {
        max-width: 350px;
        height: 350px;
        margin-top: 20px;
        padding-left: 0;
    }

    .botoes {
        margin-top: 30px;
        justify-content: center;
        gap: 15px;
        margin-left: 0;
    }

    .btn-adote,
    .btn-sobrenos {
        width: 180px;
        font-size: 16px;
        padding: 10px 0;
    }
}

/* =========================== RESPONSIVO CONTEUDO (Mobile Pequeno) (MANTIDO) =========================== */

@media (max-width: 768px) {

    /* Ajustes para o Banner */
    .banner {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .banner-conteudo h1 {
        font-size: 28px;
        margin: 0 auto;
        padding: 0 5px;
    }

    .botoes {
        flex-direction: column;
        gap: 10px;
        width: 80%;
        margin: 20px auto 0 auto;
        padding-left: 0;
    }

    .btn-adote,
    .btn-sobrenos {
        width: 100%;
        font-size: 16px;
        padding: 12px 0;
    }

    .slider img {
        margin: 0 auto;
    }

    .slider {
        margin: 0 auto !important;
        padding: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Ajustes dos Cards */
    .h1animal {
        font-size: 32px;
    }

    .pesquisa-wrapper {
        padding: 0 10px;
    }

    .animal {
        max-width: 100%;
        height: 250px;
    }

    .animal .ftcachorro {
        height: 180px;
        border-radius: 10px 10px 0 0;
    }

    .animal .escritas {
        top: 185px;
        height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: transparent;
    }

    .animal .escritas h1 {
        font-size: 18px;
        margin: 0;
    }

    .animal .botoes-animal {
        display: flex;
        margin-top: 5px;
        gap: 5px;
    }

    .animal:hover .ftcachorro {
        height: 180px;
    }

    .animal:hover .escritas {
        top: 185px;
    }

    .animal:hover .botoes-animal {
        display: flex;
    }

    .animal .botaoadotar,
    .animal .btn-saibamais {
        width: 100px;
        padding: 5px;
        font-size: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}
